@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default' as default;

$nb-themes: nb-register-theme(
  (
    // Core theme customizations
    color-primary-100: #cceeff,
    color-primary-200: #99ddff,
    color-primary-300: #66ccff,
    color-primary-400: #33bbff,
    color-primary-500: #00aaff,
    color-primary-600: #0088cc,
    color-primary-700: #006699,
    color-primary-800: #004466,
    color-primary-900: #002233
  ),
  default,
  default
);
