<div class="onboarding-overlay" *ngIf="isVisible">
  <div class="onboarding-modal" [attr.data-step]="currentStepIndex + 1">
    <div class="onboarding-header">
      <h2 class="onboarding-title">
        <ng-container i18n
          ><ng-container i18n
            ><ng-container i18n
              ><ng-container i18n
                ><ng-container i18n
                  ><ng-container i18n
                    ><ng-container i18n
                      ><ng-container i18n
                        ><ng-container i18n
                          ><ng-container i18n>{{ currentStep.title }}</ng-container></ng-container
                        ></ng-container
                      ></ng-container
                    ></ng-container
                  ></ng-container
                ></ng-container
              ></ng-container
            ></ng-container
          ></ng-container
        >
      </h2>
      <button
        class="onboarding-close"
        (click)="skipOnboarding()"
        aria-label="Close onboarding"
        i18n-aria-label
      >
        <i class="pi pi-times"></i>
      </button>
    </div>

    <div class="onboarding-content">
      <!-- Media Section (Image or Video) -->
      <div class="onboarding-media" *ngIf="currentStep.image || currentStep.videoUrl">
        <Image
          *ngIf="currentStep.image"
          [src]="currentStep.image"
          [alt]="currentStep.title"
          class="onboarding-image"
        />
        <video
          *ngIf="currentStep.videoUrl"
          [src]="currentStep.videoUrl"
          controls
          class="onboarding-video"
        ></video>
      </div>

      <!-- Description -->
      <p class="onboarding-description">
        <ng-container i18n
          ><ng-container i18n
            ><ng-container i18n
              ><ng-container i18n
                ><ng-container i18n
                  ><ng-container i18n
                    ><ng-container i18n
                      ><ng-container i18n
                        ><ng-container i18n
                          ><ng-container i18n>{{
                            currentStep.description
                          }}</ng-container></ng-container
                        ></ng-container
                      ></ng-container
                    ></ng-container
                  ></ng-container
                ></ng-container
              ></ng-container
            ></ng-container
          ></ng-container
        >
      </p>
    </div>

    <!-- Progress Indicator -->
    <div class="onboarding-progress" *ngIf="showProgress">
      <p-progressBar mode="determinate" i18n-mode [value]="progress"></p-progressBar>
      <span class="progress-text"
        ><ng-container i18n
          ><ng-container i18n
            ><ng-container i18n
              ><ng-container i18n
                ><ng-container i18n
                  ><ng-container i18n
                    ><ng-container i18n
                      ><ng-container i18n
                        ><ng-container i18n
                          ><ng-container i18n
                            >{{ currentStepIndex + 1 }} of {{ steps.length }}</ng-container
                          ></ng-container
                        ></ng-container
                      ></ng-container
                    ></ng-container
                  ></ng-container
                ></ng-container
              ></ng-container
            ></ng-container
          ></ng-container
        ></span
      >
    </div>

    <!-- Navigation Dots -->
    <div class="onboarding-dots" *ngIf="showDots">
      <button
        *ngFor="let step of steps; let i = index"
        class="dot"
        [class.active]="i === currentStepIndex"
        (click)="goToStep(i)"
        [attr.aria-label]="'Go to step ' + (i + 1)"
      ></button>
    </div>

    <!-- Actions -->
    <div class="onboarding-actions">
      <button
        *ngIf="currentStepIndex > 0"
        nbButton
        ghost
        class="btn-previous"
        (click)="previousStep()"
      >
        <i class="pi pi-arrow-left"></i>
        <ng-container i18n
          ><ng-container i18n
            ><ng-container i18n
              ><ng-container i18n
                ><ng-container i18n
                  ><ng-container i18n
                    ><ng-container i18n
                      ><ng-container i18n
                        ><ng-container i18n
                          ><ng-container i18n>Previous </ng-container></ng-container
                        ></ng-container
                      ></ng-container
                    ></ng-container
                  ></ng-container
                ></ng-container
              ></ng-container
            ></ng-container
          ></ng-container
        >
      </button>

      <button
        *ngIf="showSkip && currentStepIndex < steps.length - 1"
        nbButton
        ghost
        class="btn-skip"
        (click)="skipOnboarding()"
      >
        <ng-container i18n
          ><ng-container i18n
            ><ng-container i18n
              ><ng-container i18n
                ><ng-container i18n
                  ><ng-container i18n
                    ><ng-container i18n
                      ><ng-container i18n
                        ><ng-container i18n
                          ><ng-container i18n>Skip </ng-container></ng-container
                        ></ng-container
                      ></ng-container
                    ></ng-container
                  ></ng-container
                ></ng-container
              ></ng-container
            ></ng-container
          ></ng-container
        >
      </button>

      <button
        nbButton
        status="primary"
        i18n-status
        class="btn-next"
        *ngIf="!currentStep.ctaLink && !currentStep.ctaAction"
        (click)="nextStep()"
      >
        <ng-container i18n
          ><ng-container i18n
            ><ng-container i18n
              ><ng-container i18n
                ><ng-container i18n
                  ><ng-container i18n
                    ><ng-container i18n
                      ><ng-container i18n
                        ><ng-container i18n
                          ><ng-container i18n
                            >{{ currentStepIndex < steps.length - 1 ? 'Next' : 'Finish' }}
                          </ng-container></ng-container
                        ></ng-container
                      ></ng-container
                    ></ng-container
                  ></ng-container
                ></ng-container
              ></ng-container
            ></ng-container
          ></ng-container
        ><nb-icon
          *ngIf="currentStepIndex < steps.length - 1"
          icon="arrow-forward-outline"
          i18n-icon
        ></nb-icon>
      </button>

      <a
        *ngIf="currentStep.ctaLink"
        nbButton
        status="primary"
        i18n-status
        class="btn-cta"
        [routerLink]="currentStep.ctaLink"
        (click)="nextStep()"
      >
        <ng-container i18n
          ><ng-container i18n
            ><ng-container i18n
              ><ng-container i18n
                ><ng-container i18n
                  ><ng-container i18n
                    ><ng-container i18n
                      ><ng-container i18n
                        ><ng-container i18n
                          ><ng-container i18n
                            >{{ currentStep.ctaText || 'Continue' }}
                          </ng-container></ng-container
                        ></ng-container
                      ></ng-container
                    ></ng-container
                  ></ng-container
                ></ng-container
              ></ng-container
            ></ng-container
          ></ng-container
        ></a
      >

      <button
        *ngIf="!currentStep.ctaLink && currentStep.ctaAction"
        nbButton
        status="primary"
        i18n-status
        class="btn-cta"
        (click)="handleCtaClick()"
      >
        <ng-container i18n
          ><ng-container i18n
            ><ng-container i18n
              ><ng-container i18n
                ><ng-container i18n
                  ><ng-container i18n
                    ><ng-container i18n
                      ><ng-container i18n
                        ><ng-container i18n
                          ><ng-container i18n
                            >{{ currentStep.ctaText || 'Continue' }}
                          </ng-container></ng-container
                        ></ng-container
                      ></ng-container
                    ></ng-container
                  ></ng-container
                ></ng-container
              ></ng-container
            ></ng-container
          ></ng-container
        >
      </button>
    </div>
  </div>
</div>
