<!-- Icon-only mode -->
<button
  *ngIf="mode === 'icon-only'"
  class="theme-toggle"
  (click)="toggleTheme()"
  [attr.aria-label]="themeAriaLabel"
  [attr.title]="themeAriaLabel"
>
  <i class="fas" [class]="themeIcon"></i>
</button>

<!-- With-label mode -->
<button
  *ngIf="mode === 'with-label'"
  class="theme-toggle-with-label"
  (click)="toggleTheme()"
  [attr.aria-label]="themeAriaLabel"
  [class.theme-toggle-with-label--label-left]="labelPosition === 'left'"
  [class.theme-toggle-with-label--label-right]="labelPosition === 'right'"
>
  <span *ngIf="labelPosition === 'left'" class="theme-toggle-with-label__label"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ label }}</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></span>
  <i class="fas theme-toggle-with-label__icon" [class]="themeIcon"></i>
  <span *ngIf="labelPosition === 'right'" class="theme-toggle-with-label__label"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ label }}</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></span>
</button>

<!-- Toggle mode -->
<div
  *ngIf="mode === 'toggle'"
  class="theme-toggle-switch-container"
  [class.theme-toggle-switch-container--label-left]="labelPosition === 'left'"
  [class.theme-toggle-switch-container--label-right]="labelPosition === 'right'"
>
  <label
    *ngIf="labelPosition === 'left'"
    class="theme-toggle-switch__label"
    [attr.for]="'theme-toggle-' + label"
    ><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ label }}</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></label
  >
  <button
    class="theme-toggle-switch"
    [class.theme-toggle-switch--checked]="isDarkMode"
    (click)="toggleTheme()"
    [attr.aria-label]="ariaLabel"
    [attr.aria-checked]="isDarkMode"
    role="switch"
    [id]="'theme-toggle-' + label"
  >
    <span class="theme-toggle-switch__track"></span>
    <span class="theme-toggle-switch__thumb">
      <i class="fas" [class]="themeIcon"></i>
    </span>
  </button>
  <label
    *ngIf="labelPosition === 'right'"
    class="theme-toggle-switch__label"
    [attr.for]="'theme-toggle-' + label"
    ><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ label }}</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></label
  >
</div>
