<button
  nbButton
  [type]="type"
  [status]="status"
  [size]="size"
  [appearance]="appearance"
  [disabled]="disabled || loading"
  [attr.aria-label]="ariaLabel"
  [attr.aria-disabled]="disabled || loading"
  [class.full-width]="fullWidth"
  (click)="onClick($event)"
>
  @if (loading) {
    <i class="pi pi-loader"></i>
  } @else {
    <!-- Left Icon -->
    @if (iconLeft) {
      <i [class]="getIconClass(iconLeft)"></i>
    }

    <!-- Button Text -->
    <span class="button-content">
      <ng-content></ng-content>
    </span>

    <!-- Right Icon -->
    @if (iconRight) {
      <i [class]="getIconClass(iconRight)"></i>
    }
  }
</button>
