<button
  nbButton
  [type]="type"
  [status]="status"
  [size]="size"
  [appearance]="appearance"
  [disabled]="disabled || loading"
  [attr.aria-label]="ariaLabel"
  [attr.aria-disabled]="disabled || loading"
  [class.full-width]="fullWidth"
  (click)="onClick($event)"
>
  @if (loading) {
    <nb-icon icon="loader-outline" class="spin"></nb-icon>
  } @else {
    <!-- Left Icon -->
    @if (iconLeft) {
      <nb-icon [icon]="iconLeft" class="button-icon button-icon-left"></nb-icon>
    }

    <!-- Button Text -->
    <span class="button-content">
      <ng-content></ng-content>
    </span>

    <!-- Right Icon -->
    @if (iconRight) {
      <nb-icon [icon]="iconRight" class="button-icon button-icon-right"></nb-icon>
    }
  }
</button>
