# Dependencies
node_modules/
client/node_modules/
server/node_modules/
client-angular/node_modules/

# Build output
dist/
client/dist/
server/dist/

# Environment and config files
.env
*.env

# Database files and directories
data/db/
data/

# Logs and temporary files
logs/
*.log
npm-debug.log*
coverage/
tmp/

# OS and editor files
.DS_Store
.idea/
.vscode/
data/db/journal/WiredTigerLog.0000000002
data/db/diagnostic.data/metrics.2025-04-04T03-03-46Z-00000
data/db/WiredTiger.wt
data/db/WiredTiger.turtle
data/db/index-5-6965801790087775312.wt
data/db/collection-4-6965801790087775312.wt
data/db/WiredTiger.turtle
data/db/journal/WiredTigerLog.0000000002
data/db/WiredTiger.wt
