# Dependencies
node_modules/

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Mac
.DS_Store

# OAuth keys
auth-key.p8

#db

data/
