<div class="checklist-container" [class.collapsed]="isCollapsed">
  <div class="checklist-header" (click)="collapsible && toggleCollapse()">
    <div class="header-content">
      <h3 class="checklist-title"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ title }}</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></h3>
      <p class="checklist-subtitle" *ngIf="!isCollapsed"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ subtitle }}</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></p>

      <div class="progress-container" *ngIf="showProgress && !isCollapsed">
        <p-progressBar mode="determinate" i18n-mode [value]="progress"></p-progressBar>
        <span class="progress-text"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ completedCount }} of {{ items.length }} completed</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></span>
      </div>
    </div>

    <button
      *ngIf="collapsible"
      nb-icon-button
      class="collapse-button"
      [attr.aria-label]="isCollapsed ? 'Expand checklist' : 'Collapse checklist'"
    >
      <i class="pi pi-{{ isCollapsed ? 'expand_more' : 'expand_less' }}"></i>
    </button>
  </div>

  <div class="checklist-content" *ngIf="!isCollapsed">
    <div class="checklist-items">
      <div *ngFor="let item of items" class="checklist-item" [class.completed]="item.completed">
        <div class="item-checkbox">
          <p-checkbox
            [checked]="item.completed"
            [disabled]="item.completed"
            (change)="markItemCompleted(item)"
           >
          </p-checkbox>
        </div>

        <div class="item-content" (click)="handleItemClick(item)">
          <div class="item-icon" *ngIf="item.icon">
            <i class="pi pi-{{ item.icon }}"></i>
          </div>

          <div class="item-text">
            <h4 class="item-title"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ item.title }}</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></h4>
            <p class="item-description"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ item.description }}</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></p>

            <div class="item-reward" *ngIf="showRewards && item.reward">
              <nb-icon *ngIf="item.reward.type === 'badge'"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>stars"></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></nb-icon>
              <nb-icon *ngIf="item.reward.type === 'points'"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>toll"></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></nb-icon>
              <nb-icon *ngIf="item.reward.type === 'feature'"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>lock_open"></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></nb-icon>
              <span class="reward-text">
                <ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{
                  item.reward.type === 'points' ? item.reward.value + ' points' : item.reward.value
                }}
              </ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></span>
            </div>
          </div>

          <div class="item-action">
            <button
              nbButton
              color="primary"
              *ngIf="item.route && !item.completed"
              [routerLink]="item.route"
            >
              <ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>Go
            </ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></button>

            <nb-icon *ngIf="item.completed" class="completed-icon"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>check_circle"></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></nb-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="checklist-footer" *ngIf="isAllCompleted">
      <div class="completion-message">
        <i class="pi pi-celebration"></i>
        <span><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>All tasks completed!</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></span>
      </div>
    </div>
  </div>
</div>
