

:host {
  nb-card {
    max-width: 600px;
    width: 100%;
  }

  nb-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
    }

    .close-button {
      padding: 0.25rem;
      margin: -0.25rem;
    }
  }

  nb-card-body {
    padding: 1.5rem;
  }

  nb-card-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .withdraw-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  nb-form-field {
    width: 100%;
  }

  nb-select nb-option {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .caption,
  nb-hint {
    font-size: 0.75rem;
    color: var(--text-hint-color);
    margin-top: 0.25rem;
    display: block;
  }

  nb-error span {
    display: block; // Each error message on a new line
  }

  .full-width-alert {
    width: 100%;
    margin: 1rem 0;
  }

  .no-payment-methods {
    margin: 1rem 0;

    a {
      color: var(--color-primary-500);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .crypto-warning {
    margin-top: 1rem;
  }

  .actions-footer {
    padding: 1.5rem;
    border-top: 1px solid var(--border-basic-color-3);
  }

  button[nbButton] nb-icon {
    margin-right: 0.5rem; // Space between icon and text in button
  }

  button[nbButton] nb-spinner {
    margin-right: 0.5rem;
  }
}
