<!-- Emerald Avatar Component -->
<!-- Documentation: https://docs-emerald.condorlabs.io/Avatar -->

<div class="nb-user-container">
  <div
    class="nb-user"
    [ngClass]="{
      'nb-user--small': size === 'small',
      'nb-user--medium': size === 'medium',
      'nb-user--large': size === 'large',
    }"
    (click)="toggleDropdown($event)"
  >
    <!-- Avatar Image -->
    <img
      *ngIf="imageUrl"
      [src]="imageUrl"
      [alt]="name || 'User avatar'"
      class="nb-user__image"
      (error)="onImageError($event)"
    />

    <!-- Fallback to Initials -->
    <span class="nb-user__initials" *ngIf="!imageUrl">{{ getInitials() }}</span>

    <!-- Online Status Indicator -->
    <span
      *ngIf="isOnline !== undefined"
      class="nb-user__status"
      [ngClass]="{
        'nb-user__status--online': isOnline,
        'nb-user__status--offline': !isOnline,
      }"
    >
    </span>

    <!-- Dropdown Toggle Indicator -->
    <span *ngIf="showDropdown" class="nb-user__dropdown-indicator">
      <i
        class="fas"
        [ngClass]="{ 'fa-chevron-down': !isDropdownOpen, 'fa-chevron-up': isDropdownOpen }"
      ></i>
    </span>
  </div>

  <!-- Dropdown Menu -->
  <div *ngIf="showDropdown && isDropdownOpen" class="nb-user__dropdown">
    <div class="nb-user__dropdown-arrow"></div>

    <ul class="nb-user__dropdown-menu">
      <ng-container *ngFor="let item of dropdownItems">
        <!-- Divider -->
        <li *ngIf="item.divider" class="nb-user__dropdown-divider"></li>

        <!-- Menu Item -->
        <li *ngIf="!item.divider" class="nb-user__dropdown-item">
          <a
            *ngIf="item.route"
            [routerLink]="item.route"
            class="nb-user__dropdown-link"
            (click)="onItemClick(item, $event)"
          >
            <i *ngIf="item.icon" class="nb-user__dropdown-icon {{ item.icon }}"></i>
            <span class="nb-user__dropdown-label">{{ item.label }}</span>
          </a>

          <button
            *ngIf="!item.route"
            class="nb-user__dropdown-button"
            (click)="onItemClick(item, $event)"
          >
            <i *ngIf="item.icon" class="nb-user__dropdown-icon {{ item.icon }}"></i>
            <span class="nb-user__dropdown-label">{{ item.label }}</span>
          </button>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
