<div class="feature-tour-overlay" *ngIf="isVisible">
  <!-- Spotlight mask -->
  <div class="spotlight-mask">
    <div class="spotlight" [ngStyle]="getSpotlightStyle()"></div>
  </div>

  <!-- Tooltip -->
  <div
    class="tour-tooltip"
    [ngStyle]="getTooltipStyle()"
    [attr.data-position]="currentStep.position"
  >
    <div class="tooltip-content">
      <h3 class="tooltip-title">{{ currentStep.title }}</h3>
      <p class="tooltip-description">{{ currentStep.description }}</p>

      <div class="tooltip-actions">
        <button
          *ngIf="currentStepIndex > 0"
          mat-button
          class="btn-previous"
          (click)="previousStep()"
        >
          <mat-icon>arrow_back</mat-icon> Previous
        </button>

        <button *ngIf="showSkip" mat-button class="btn-skip" (click)="skipTour()">Skip Tour</button>

        <button mat-raised-button color="primary" class="btn-next" (click)="nextStep()">
          {{ currentStepIndex < steps.length - 1 ? 'Next' : 'Finish' }}
          <mat-icon *ngIf="currentStepIndex < steps.length - 1">arrow_forward</mat-icon>
        </button>
      </div>

      <div class="tooltip-progress">
        <span class="progress-text">{{ currentStepIndex + 1 }} of {{ steps.length }}</span>
        <div class="progress-dots">
          <span
            *ngFor="let step of steps; let i = index"
            class="dot"
            [class.active]="i === currentStepIndex"
            (click)="goToStep(i)"
          >
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
