scripts/**/*.cjs
scripts/**/*.js
src/assets/js/**/*.js
src/ngsw-worker.js
src/app/core/utils/test-runner.js
run-single-test.js
src/app/features/admin/components/alert-management/alert-management.component.ts
src/app/features/auth/components/register/register.component.ts
src/app/features/features.module.ts
src/app/shared/modules/review.module.ts
src/app/shared/modules/shared.module.ts
src/app/features/chat/chat.component.fixed.ts
src/app/features/wallet/wallet.component.ts
src/app/shared/components/custom-nebular-components/nb-paginator/nb-paginator.component.ts