<p-card>
  <ng-template pTemplate="header">
    <p-tabView (onChange)="changeView($event.index)" [activeIndex]="getActiveIndex()">
      <p-tabPanel header="Discover">
        <ng-template pTemplate="header">
          <i class="pi pi-grid mr-2"></i>
          Discover
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Swipe">
        <ng-template pTemplate="header">
          <i class="pi pi-heart mr-2"></i>
          Swipe
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="List">
        <ng-template pTemplate="header">
          <i class="pi pi-list mr-2"></i>
          List
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </ng-template>

  <ng-template pTemplate="content">
    <!-- View Content -->
    <div class="view-content">
      <app-netflix-view *ngIf="activeView === 'netflix'"></app-netflix-view>
      <app-tinder *ngIf="activeView === 'tinder'"></app-tinder>
      <app-list-view *ngIf="activeView === 'list'"></app-list-view>
    </div>
  </ng-template>
</p-card>
