<p-card [ngClass]="getMessageClasses()">
  <!-- User avatar and info -->
  <div class="message__header" *ngIf="!isCurrentUser && showSender">
    <div class="message__avatar">
      <p-avatar
        [image]="getSenderProfileImage()"
        shape="circle" i18n-shape
        size="large" i18n-size
        [label]="getSenderName().charAt(0)"
        styleClass="mr-2" i18n-styleClass
      ></p-avatar>
      <span class="message__sender"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ getSenderName() }}</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></span>
    </div>
  </div>

  <div class="message__content">
    <!-- Loading state while decrypting -->
    <div class="message__loading" *ngIf="isDecrypting">
      <p-progressSpinner
        [style]="{ width: '20px', height: '20px' }"
        styleClass="custom-spinner" i18n-styleClass
      ></p-progressSpinner>
      <span><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>Decrypting message...</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></span>
    </div>

    <!-- System message -->
    <div
      class="message__text message__text--system"
      *ngIf="message.type === 'system' && !isDecrypting"
    >
      <ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ decryptedContent }}
    </ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></div>

    <!-- Regular message -->
    <div class="message__text" *ngIf="message.type !== 'system' && !isDecrypting">
      <!-- Encryption indicator -->
      <span
        class="message__encryption-indicator"
        *ngIf="message.isEncrypted && !decryptionFailed"
        pTooltip="End-to-end encrypted" i18n-pTooltip
        tooltipPosition="top" i18n-tooltipPosition
      >
        <i class="pi pi-lock"></i>
      </span>

      <!-- Decryption failed indicator -->
      <span
        class="message__encryption-indicator message__encryption-indicator--failed"
        *ngIf="decryptionFailed"
        pTooltip="Failed to decrypt message" i18n-pTooltip
        tooltipPosition="top" i18n-tooltipPosition
      >
        <i class="pi pi-lock-open"></i>
      </span>

      <!-- Message content -->
      <span [innerHTML]="decryptedContent | linkify"></span>
    </div>

    <!-- Attachments -->
    <div class="message__attachments" *ngIf="message.attachments && message.attachments.length > 0">
      <p-card class="attachment" *ngFor="let attachment of message.attachments">
        <!-- Image attachment -->
        <div class="attachment__image" *ngIf="attachment.type === 'image'">
          <img
            [src]="attachment.url"
            [alt]="attachment.name || 'Image attachment'"
            (click)="openAttachment(attachment)"
            class="attachment__preview"
          />
        </div>

        <!-- File attachment -->
        <div class="attachment__file" *ngIf="attachment.type !== 'image'">
          <div class="attachment__icon">
            <i class="pi pi-file" aria-hidden="true"></i>
          </div>
          <div class="attachment__details">
            <div class="attachment__name"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ attachment.name }}</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></div>
            <div class="attachment__size"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ attachment.size | fileSize }}</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></div>
          </div>
          <p-button
            icon="pi pi-download" i18n-icon
            styleClass="p-button-rounded p-button-text" i18n-styleClass
            (click)="downloadAttachment(attachment)"
            pTooltip="Download file" i18n-pTooltip
            tooltipPosition="top" i18n-tooltipPosition
          >
          </p-button>
        </div>
      </p-card>
    </div>
  </div>

  <!-- Message timestamp -->
  <div class="message__footer">
    <small class="message__time"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ message.timestamp | timeAgo }}</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></small>
  </div>
</p-card>
