<div class="container-fluid ad-management">
  <div class="row mb-3">
    <div class="col">
      <h2>Manage Your Ads</h2>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" data-toggle="modal" data-target="#newAdModal">
        <i class="fa fa-plus"></i> Create New Ad
      </button>
    </div>
  </div>
  
  <div ng-if="error" class="alert alert-danger">
    {{ error }}
  </div>
  
  <div ng-if="loading" class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  
  <!-- Ad List -->
  <div class="table-responsive">
    <table class="table table-striped" ng-if="!loading">
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>County</th>
          <th>Date Posted</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="ads.length === 0">
          <td colspan="5" class="text-center">You haven't created any ads yet. Click "Create New Ad" to get started.</td>
        </tr>
        <tr ng-repeat="ad in ads">
          <td>
            <img ng-src="{{ ad.profileImage }}" alt="{{ ad.title }}" class="thumbnail" style="width: 50px; height: 50px; object-fit: cover;">
          </td>
          <td>{{ ad.title }}</td>
          <td>{{ ad.county }}</td>
          <td>{{ ad.datePosted | date:'medium' }}</td>
          <td>
            <button class="btn btn-sm btn-info mr-2" ng-click="startEditing(ad)">
              <i class="fa fa-edit"></i> Edit
            </button>
            <button class="btn btn-sm btn-danger" ng-click="confirmDelete(ad)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- New Ad Modal -->
  <div class="modal fade" id="newAdModal" tabindex="-1" role="dialog" aria-labelledby="newAdModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form name="newAdForm" ng-submit="createAd()" novalidate>
          <div class="modal-header">
            <h5 class="modal-title" id="newAdModalLabel">Create New Ad</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="title">Title*</label>
              <input type="text" class="form-control" id="title" ng-model="newAd.title" required>
              <div ng-show="newAdForm.title.$touched && newAdForm.title.$invalid" class="text-danger">Title is required</div>
            </div>
            <div class="form-group">
              <label for="description">Description*</label>
              <textarea class="form-control" id="description" rows="3" ng-model="newAd.description" required></textarea>
              <div ng-show="newAdForm.description.$touched && newAdForm.description.$invalid" class="text-danger">Description is required</div>
            </div>
            <div class="form-group">
              <label for="contact">Contact Information*</label>
              <input type="text" class="form-control" id="contact" ng-model="newAd.contact" required>
              <div ng-show="newAdForm.contact.$touched && newAdForm.contact.$invalid" class="text-danger">Contact information is required</div>
            </div>
            <div class="form-group">
              <label for="county">County*</label>
              <select class="form-control" id="county" ng-model="newAd.county" required>
                <option value="">Select a county</option>
                <option ng-repeat="county in counties" value="{{county}}">{{county}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              <div class="input-group">
                <input type="text" class="form-control" id="location" ng-model="newAd.location">
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary" ng-click="setCurrentLocation('new')">
                    <i class="fa fa-map-marker-alt"></i> Use Current
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="profileImage">Profile Image URL</label>
              <input type="url" class="form-control" id="profileImage" ng-model="newAd.profileImage">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-disabled="newAdForm.$invalid">Create Ad</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- Edit Ad Modal -->
  <div class="modal fade" id="editAdModal" tabindex="-1" role="dialog" aria-labelledby="editAdModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form name="editAdForm" ng-submit="updateAd()" novalidate>
          <div class="modal-header">
            <h5 class="modal-title" id="editAdModalLabel">Edit Ad</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Same fields as New Ad Modal but with editingAd model -->
            <div class="form-group">
              <label for="edit-title">Title*</label>
              <input type="text" class="form-control" id="edit-title" ng-model="editingAd.title" required>
            </div>
            <div class="form-group">
              <label for="edit-description">Description*</label>
              <textarea class="form-control" id="edit-description" rows="3" ng-model="editingAd.description" required></textarea>
            </div>
            <div class="form-group">
              <label for="edit-contact">Contact Information*</label>
              <input type="text" class="form-control" id="edit-contact" ng-model="editingAd.contact" required>
            </div>
            <div class="form-group">
              <label for="edit-county">County*</label>
              <select class="form-control" id="edit-county" ng-model="editingAd.county" required>
                <option value="">Select a county</option>
                <option ng-repeat="county in counties" value="{{county}}">{{county}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="edit-location">Location</label>
              <div class="input-group">
                <input type="text" class="form-control" id="edit-location" ng-model="editingAd.location">
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary" ng-click="setCurrentLocation('edit')">
                    <i class="fa fa-map-marker-alt"></i> Use Current
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="edit-profileImage">Profile Image URL</label>
              <input type="url" class="form-control" id="edit-profileImage" ng-model="editingAd.profileImage">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-disabled="editAdForm.$invalid">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteAdModal" tabindex="-1" role="dialog" aria-labelledby="deleteAdModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteAdModalLabel">Confirm Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the ad "{{ adToDelete.title }}"? This action cannot be undone.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" ng-click="deleteAd()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
