<!-- Skeleton Loader Component -->
<!-- Using Nebular components -->

<div class="nb-skeleton-container">
  <ng-container *ngFor="let item of [].constructor(count); let i = index">
    <!-- Simple Skeleton Types -->
    <ng-container *ngIf="['text', 'circle', 'rectangle'].includes(type)">
      <nb-skeleton
        *ngIf="type === 'text'"
        [height]="height || '16px'"
        [width]="width || '100%'"
        [animated]="animated"
      >
      </nb-skeleton>

      <nb-skeleton
        *ngIf="type === 'circle'"
        shape="circle"
        [height]="height || '48px'"
        [width]="width || '48px'"
        [animated]="animated"
      >
      </nb-skeleton>

      <nb-skeleton
        *ngIf="type === 'rectangle'"
        [height]="height || '200px'"
        [width]="width || '100%'"
        [animated]="animated"
      >
      </nb-skeleton>
    </ng-container>

    <!-- Card Skeleton -->
    <div *ngIf="type === 'card'" class="nb-skeleton-card">
      <nb-skeleton class="nb-skeleton-card__media" [animated]="animated"></nb-skeleton>
      <div class="nb-skeleton-card__content">
        <nb-skeleton
          class="nb-skeleton-card__title"
          height="24px"
          width="80%"
          [animated]="animated"
        ></nb-skeleton>
        <nb-skeleton
          class="nb-skeleton-card__subtitle"
          height="16px"
          width="60%"
          [animated]="animated"
        ></nb-skeleton>
        <nb-skeleton
          class="nb-skeleton-card__text"
          height="12px"
          width="100%"
          [animated]="animated"
        ></nb-skeleton>
        <nb-skeleton
          class="nb-skeleton-card__text"
          height="12px"
          width="80%"
          [animated]="animated"
        ></nb-skeleton>
      </div>
    </div>

    <!-- Profile Skeleton -->
    <div *ngIf="type === 'profile'" class="nb-skeleton-profile">
      <nb-skeleton
        class="nb-skeleton-profile__avatar"
        shape="circle"
        height="64px"
        width="64px"
        [animated]="animated"
      ></nb-skeleton>
      <div class="nb-skeleton-profile__content">
        <nb-skeleton
          class="nb-skeleton-profile__name"
          height="20px"
          width="60%"
          [animated]="animated"
        ></nb-skeleton>
        <nb-skeleton
          class="nb-skeleton-profile__info"
          height="14px"
          width="40%"
          [animated]="animated"
        ></nb-skeleton>
      </div>
    </div>

    <!-- List Skeleton -->
    <div *ngIf="type === 'list'" class="nb-skeleton-list">
      <div class="nb-skeleton-list__item">
        <nb-skeleton
          class="nb-skeleton-list__icon"
          shape="circle"
          height="40px"
          width="40px"
          [animated]="animated"
        ></nb-skeleton>
        <div class="nb-skeleton-list__content">
          <nb-skeleton
            class="nb-skeleton-list__title"
            height="16px"
            width="60%"
            [animated]="animated"
          ></nb-skeleton>
          <nb-skeleton
            class="nb-skeleton-list__subtitle"
            height="12px"
            width="40%"
            [animated]="animated"
          ></nb-skeleton>
        </div>
      </div>
      <div class="nb-skeleton-list__item">
        <nb-skeleton
          class="nb-skeleton-list__icon"
          shape="circle"
          height="40px"
          width="40px"
          [animated]="animated"
        ></nb-skeleton>
        <div class="nb-skeleton-list__content">
          <nb-skeleton
            class="nb-skeleton-list__title"
            height="16px"
            width="60%"
            [animated]="animated"
          ></nb-skeleton>
          <nb-skeleton
            class="nb-skeleton-list__subtitle"
            height="12px"
            width="40%"
            [animated]="animated"
          ></nb-skeleton>
        </div>
      </div>
      <div class="nb-skeleton-list__item">
        <nb-skeleton
          class="nb-skeleton-list__icon"
          shape="circle"
          height="40px"
          width="40px"
          [animated]="animated"
        ></nb-skeleton>
        <div class="nb-skeleton-list__content">
          <nb-skeleton
            class="nb-skeleton-list__title"
            height="16px"
            width="60%"
            [animated]="animated"
          ></nb-skeleton>
          <nb-skeleton
            class="nb-skeleton-list__subtitle"
            height="12px"
            width="40%"
            [animated]="animated"
          ></nb-skeleton>
        </div>
      </div>
    </div>
  </ng-container>
</div>
