<div class="app-layout">
  <!-- Sidebar -->
  <p-sidebar [(visible)]="sidebarVisible" [modal]="false" class="menu-sidebar">
    <p-panelMenu [model]="menuItems" (click)="onMenuItemClick($event)"></p-panelMenu>
  </p-sidebar>

  <!-- Header -->
  <p-toolbar styleClass="app-header" i18n-styleClass>
    <ng-template pTemplate="left">
      <button
        pButton
        type="button"
        icon="pi pi-bars" i18n-icon
        (click)="toggleSidebar()"
        class="p-button-text sidebar-toggle"
      ></button>
      <span class="app-title"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>Date Night App</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></span>
      <!-- Assuming app-title is styled globally or in navigation.component.scss -->
      <app-breadcrumbs></app-breadcrumbs>
    </ng-template>

    <ng-template pTemplate="right">
      <div class="header-actions">
        <!-- Search -->
        <button
          pButton
          type="button"
          icon="pi pi-search" i18n-icon
          (click)="openSearch()"
          class="p-button-text search-button"
        ></button>

        <!-- Keyboard Shortcuts -->
        <button
          pButton
          type="button"
          icon="pi pi-keyboard" i18n-icon
          pTooltip="Keyboard Shortcuts" i18n-pTooltip
          tooltipPosition="bottom" i18n-tooltipPosition
          class="p-button-text"
          (click)="openKeyboardShortcuts()"
        ></button>

        <!-- Theme Toggle -->
        <app-theme-toggle></app-theme-toggle>

        <!-- User Menu -->
        <div class="user-menu-container">
          <button
            pButton
            type="button"
            class="p-button-text p-button-rounded user-avatar-button"
            (click)="userMenu.toggle($event)"
          >
            <p-avatar
              [image]="userAvatar"
              [label]="!userAvatar ? userName?.charAt(0) : undefined"
              shape="circle" i18n-shape
            ></p-avatar>
          </button>
          <p-menu #userMenu [model]="userMenuItems" [popup]="true"></p-menu>
        </div>
      </div>
    </ng-template>
  </p-toolbar>

  <!-- Main Content -->
  <div class="main-content">
    <ng-content></ng-content>
  </div>

  <!-- Footer -->
  <p-toolbar styleClass="app-footer" i18n-styleClass>
    <ng-template pTemplate="center">
      <span><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>&copy; {{ currentYear }} Date Night App. All rights reserved.</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></span>
    </ng-template>
  </p-toolbar>
</div>

<!-- Nebular layout to be removed:
<div class="layout">
  <p-sidebar [state]="sidebarState" [responsive]="true" class="menu-sidebar">
    <p-menu [items]="items" (itemClick)="onMenuItemClick($event)"></p-menu>
  </p-sidebar>

  <header class="layout-header" fixed>
    <div class="header-container">
      <p-button label="" ></p-button>

      <app-breadcrumbs></app-breadcrumbs>

      <div class="header-actions">
        <p-button label="" icon="pi pi-search"></p-button>

        <button
          nbButton
          ghost
          nbTooltip="Keyboard Shortcuts"
          nbTooltipPlacement="bottom"
          (click)="openKeyboardShortcuts()"
        >
          <i class="pi pi-options-2"></i> 
        </button>

        <app-theme-toggle></app-theme-toggle>

        <button class="action-button"s size="medium">
          <nb-action>
            <p-avatar
              [name]="userName"
              [picture]="userAvatar"
              [nbContextMenu]="userMenuData" 
              nbContextMenuTag="user-profile-menu"
              size="medium"
            ></p-avatar>
          </button>
        </nb-actions>
      </div>
    </div>
  </header>

  <div class="layout-column" class="main-content">
    <ng-content></ng-content>
  </div>

  <footer class="layout-footer" fixed>
    <span>&copy; 2025 Date Night App. All rights reserved.</span>
  </footer>
</div>
-->
