<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<div class="favorites-page-container">
  <p-card class="mb-3">
    <ng-template pTemplate="title">
      <div class="flex justify-content-between align-items-center">
        <span><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>My Favorites</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></span>
        <button
          pButton
          type="button"
          icon="pi pi-plus" i18n-icon
          label="Add New Favorite" i18n-label
          class="p-button-sm"
          (click)="navigateToCreateFavorite()"
        ></button>
      </div>
    </ng-template>

    <div class="grid formgrid p-fluid mb-3">
      <div class="field col-12 md:col-4">
        <span class="p-input-icon-left w-full">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            placeholder="Search favorites..." i18n-placeholder
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchTermChange($event)"
            class="w-full"
          />
        </span>
      </div>
      <div class="field col-12 md:col-2">
        <p-dropdown
          [options]="priorityOptions"
          [(ngModel)]="priorityFilter"
          placeholder="Priority" i18n-placeholder
          (onChange)="onFilterChange()"
          [showClear]="true"
          styleClass="w-full" i18n-styleClass
        ></p-dropdown>
      </div>
      <div class="field col-12 md:col-2">
        <p-dropdown
          [options]="typeOptions"
          [(ngModel)]="typeFilter"
          placeholder="Type" i18n-placeholder
          (onChange)="onFilterChange()"
          [showClear]="true"
          styleClass="w-full" i18n-styleClass
        ></p-dropdown>
      </div>
      <div class="field col-12 md:col-2">
        <button
          pButton
          type="button"
          label="Advanced" i18n-label
          icon="pi pi-filter" i18n-icon
          class="p-button-outlined w-full"
          (click)="toggleAdvancedSearch()"
        ></button>
      </div>
      <div class="field col-12 md:col-2">
        <button
          pButton
          type="button"
          label="Clear Filters" i18n-label
          icon="pi pi-times" i18n-icon
          class="p-button-text w-full"
          (click)="clearFilters()"
        ></button>
      </div>
    </div>

    <p-dialog
      header="Advanced Search" i18n-header
      [(visible)]="displayAdvancedSearch"
      [modal]="true"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <div class="grid formgrid p-fluid">
        <div class="field col-12 md:col-6">
          <label htmlFor="advName" i18n-htmlFor><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>Name Contains</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></label>
          <input pInputText id="advName" [(ngModel)]="advancedSearchQuery.nameContains" />
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="advNotes" i18n-htmlFor><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>Notes Contains</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></label>
          <input pInputText id="advNotes" [(ngModel)]="advancedSearchQuery.notesContains" />
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="advUrl" i18n-htmlFor><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>URL Contains</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></label>
          <input pInputText id="advUrl" [(ngModel)]="advancedSearchQuery.urlContains" />
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="advTagsAny" i18n-htmlFor><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>Tags (any)</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></label>
          <p-multiSelect
            inputId="advTagsAny" i18n-inputId
            [options]="availableTags"
            [(ngModel)]="advancedSearchQuery.tagsIncludeAny"
            placeholder="Select Tags" i18n-placeholder
            optionLabel="label" i18n-optionLabel
            optionValue="value" i18n-optionValue
            display="chip" i18n-display
          ></p-multiSelect>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="advTagsAll" i18n-htmlFor><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>Tags (all)</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></label>
          <p-multiSelect
            inputId="advTagsAll" i18n-inputId
            [options]="availableTags"
            [(ngModel)]="advancedSearchQuery.tagsIncludeAll"
            placeholder="Select Tags" i18n-placeholder
            optionLabel="label" i18n-optionLabel
            optionValue="value" i18n-optionValue
            display="chip" i18n-display
          ></p-multiSelect>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="advDateAddedMin" i18n-htmlFor><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>Date Added (Min)</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></label>
          <p-calendar
            inputId="advDateAddedMin" i18n-inputId
            [(ngModel)]="advancedSearchQuery.minDateAdded"
            [showIcon]="true"
            dateFormat="yy-mm-dd" i18n-dateFormat
          ></p-calendar>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="advDateAddedMax" i18n-htmlFor><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>Date Added (Max)</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></label>
          <p-calendar
            inputId="advDateAddedMax" i18n-inputId
            [(ngModel)]="advancedSearchQuery.maxDateAdded"
            [showIcon]="true"
            dateFormat="yy-mm-dd" i18n-dateFormat
          ></p-calendar>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="advLastAccessedMin" i18n-htmlFor><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>Last Accessed (Min)</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></label>
          <p-calendar
            inputId="advLastAccessedMin" i18n-inputId
            [(ngModel)]="advancedSearchQuery.minLastAccessed"
            [showIcon]="true"
            dateFormat="yy-mm-dd" i18n-dateFormat
          ></p-calendar>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="advLastAccessedMax" i18n-htmlFor><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>Last Accessed (Max)</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></label>
          <p-calendar
            inputId="advLastAccessedMax" i18n-inputId
            [(ngModel)]="advancedSearchQuery.maxLastAccessed"
            [showIcon]="true"
            dateFormat="yy-mm-dd" i18n-dateFormat
          ></p-calendar>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Reset" i18n-label
          icon="pi pi-refresh" i18n-icon
          class="p-button-text"
          (click)="resetAdvancedSearch()"
        ></button>
        <button
          pButton
          type="button"
          label="Search" i18n-label
          icon="pi pi-search" i18n-icon
          (click)="performAdvancedSearch()"
        ></button>
      </ng-template>
    </p-dialog>

    <div *ngIf="selectedFavorites.length > 0" class="mb-3">
      <p-menu #batchMenu [model]="batchActions" [popup]="true"></p-menu>
      <button
        pButton
        type="button"
        label="Batch Actions" i18n-label
        icon="pi pi-bolt" i18n-icon
        (click)="batchMenu.toggle($event)"
        class="p-button-secondary"
      ></button>
    </div>

    <div *ngIf="isLoading" class="flex justify-content-center my-3">
      <p-progressSpinner></p-progressSpinner>
    </div>

    <div *ngIf="error" class="p-message p-message-error my-3">
      <ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ error }}
    </ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></div>

    <div *ngIf="!isLoading && !error && favorites.length === 0" class="text-center my-3">
      <p>
        <ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>No favorites found. Try adjusting your search or filters, or
        </ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container><a href="javascript:void(0)" (click)="navigateToCreateFavorite()"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>add a new one</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></a>!
      </p>
    </div>

    <p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>

    <p-table
      #dt
      [value]="favorites"
      dataKey="id" i18n-dataKey
      [rows]="itemsPerPage"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="itemsPerPageOptions"
      [loading]="isLoading"
      [paginator]="true"
      [totalRecords]="totalItems"
      (onPage)="onPageChange($event)"
      (onSort)="onPrimeTableSort($event)"
      [customSort]="true"
      sortMode="single" i18n-sortMode
      [(selection)]="selectedFavorites"
      selectionMode="multiple" i18n-selectionMode
      (onRowSelect)="onFavoriteSelectChange($event.data, true)"
      (onRowUnselect)="onFavoriteSelectChange($event.data, false)"
      (onHeaderCheckboxToggle)="toggleSelectAll()"
      [globalFilterFields]="['name', 'type', 'notes', 'url']"
      responsiveLayout="scroll" i18n-responsiveLayout
      [contextMenu]="cm"
      [(contextMenuSelection)]="selectedFavoriteForContextMenu"
      (onContextMenuSelect)="onContextMenu($event.originalEvent, $event.data)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox
              (onChange)="toggleSelectAll()"
              [checked]="selectAll"
            ></p-tableHeaderCheckbox>
          </th>
          <th *ngFor="let col of selectedColumns" [pSortableColumn]="col.field">
            <ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ col.header }} </ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container><p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th style="width: 8rem"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>Actions</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-favorite let-ri="rowIndex">
        <tr [pContextMenuRow]="favorite">
          <td>
            <p-tableCheckbox
              [value]="favorite"
              [checked]="isFavoriteSelected(favorite)"
              (onChange)="onFavoriteSelectChange(favorite, $event.checked)"
            ></p-tableCheckbox>
          </td>
          <td *ngFor="let col of selectedColumns">
            <ng-container [ngSwitch]="col.field">
              <ng-container *ngSwitchCase="'name'">
                <div class="flex align-items-center">
                  <p-avatar
                    [label]="favorite.name ? favorite.name[0].toUpperCase() : 'N'"
                    styleClass="mr-2" i18n-styleClass
                    size="large" i18n-size
                    shape="circle" i18n-shape
                  ></p-avatar>
                  <div>
                    <a
                      href="javascript:void(0)"
                      (click)="viewFavoriteDetails(favorite)"
                      [pTooltip]="favorite.url || 'View details'"
                      tooltipPosition="top" i18n-tooltipPosition
                      ><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ favorite.name }}</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></a
                    >
                    <div *ngIf="favorite.notes" class="text-sm text-gray-500">
                      <ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ favorite.notes | slice: 0 : 50
                      }}{{ favorite.notes.length > 50 ? '...' : '' }}
                    </ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'type'">
                <p-tag
                  [value]="favorite.type"
                  [severity]="
                    favorite.type === FavoriteType.Article
                      ? 'info'
                      : favorite.type === FavoriteType.Website
                        ? 'success'
                        : 'warning'
                  "
                ></p-tag>
              </ng-container>
              <ng-container *ngSwitchCase="'priority'">
                <i
                  [class]="getPriorityIcon(favorite.priority)"
                  [pTooltip]="favorite.priority || 'No Priority'"
                  [ngClass]="getPriorityClass(favorite.priority)"
                ></i>
                <p-tag
                  *ngIf="favorite.priority"
                  [value]="favorite.priority"
                  [severity]="getSeverityForPriority(favorite.priority)"
                ></p-tag>
                <span *ngIf="!favorite.priority"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>None</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></span>
              </ng-container>
              <ng-container *ngSwitchCase="'dateAdded'">
                <ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ favorite.dateAdded | date: 'mediumDate' }}
              </ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container>
              <ng-container *ngSwitchCase="'lastAccessed'">
                <ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ favorite.lastAccessed ? (favorite.lastAccessed | date: 'medium') : 'Never' }}
              </ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container>
              <ng-container *ngSwitchCase="'tags'">
                <div *ngIf="favorite.tags && favorite.tags.length > 0" class="flex flex-wrap gap-1">
                  <p-chip
                    *ngFor="let tag of favorite.tags"
                    [label]="tag"
                    styleClass="p-chip-sm" i18n-styleClass
                  ></p-chip>
                </div>
                <span *ngIf="!favorite.tags || favorite.tags.length === 0"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>No tags</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></span>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ favorite[col.field] }}
              </ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container>
            </ng-container>
          </td>
          <td>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil" i18n-icon
              class="p-button-rounded p-button-text"
              (click)="editFavorite(favorite)"
              pTooltip="Edit" i18n-pTooltip
              tooltipPosition="top" i18n-tooltipPosition
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash" i18n-icon
              class="p-button-rounded p-button-text p-button-danger"
              (click)="confirmDeleteFavorite(favorite)"
              pTooltip="Delete" i18n-pTooltip
              tooltipPosition="top" i18n-tooltipPosition
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-ellipsis-v" i18n-icon
              class="p-button-rounded p-button-text"
              (click)="
                cm.show($event);
                selectedFavoriteForContextMenu = favorite;
                contextMenuItems = generateContextMenuItems(favorite)
              "
              pTooltip="More Actions" i18n-pTooltip
              tooltipPosition="top" i18n-tooltipPosition
            ></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="selectedColumns.length + 2" class="text-center">
            <ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>No favorites found.
          </ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-dropdown
          [options]="itemsPerPageOptions.map(o => ({label: o + ' per page', value: o}))"
          [(ngModel)]="itemsPerPage"
          (onChange)="onPageChange({ rows: itemsPerPage, first: 0, page: 0, pageCount: 0 })"
        ></p-dropdown>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-multiSelect
          [options]="cols"
          [(ngModel)]="selectedColumns"
          optionLabel="header" i18n-optionLabel
          selectedItemsLabel="{0} columns selected" i18n-selectedItemsLabel
          [style]="{ minWidth: '200px' }"
          placeholder="Choose Columns" i18n-placeholder
        ></p-multiSelect>
      </ng-template>
    </p-table>
  </p-card>
</div>
