<div [ngClass]="containerClasses">
  <div class="checkbox__input-container">
    <!-- Hidden native checkbox for accessibility -->
    <input
      type="checkbox"
      class="checkbox__input"
      [checked]="checked"
      [disabled]="disabled"
      [required]="required"
      [attr.name]="name"
      [attr.id]="id || name"
      [attr.value]="value"
      [attr.aria-label]="ariaLabel || label"
      [attr.aria-invalid]="!!errorMessage"
      [attr.aria-describedby]="errorMessage || helperText ? (id || name) + '-helper' : null"
      (change)="onCheckboxChange($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
    />

    <!-- Custom checkbox visual -->
    <div class="checkbox__custom">
      @if (checked) {
        <i name="check" size="small" i18n-size class="pi pi-{iconName}"></i>
      }
    </div>
  </div>

  @if (label) {
    <label class="checkbox__label" [attr.for]="id || name">
      <ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ label }}
      </ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container>@if (required) {
        <span class="checkbox__required-indicator">*</span>
      }
    </label>
  }

  <!-- Helper Text or Error Message -->
  @if (errorMessage || helperText) {
    <div
      class="checkbox__helper-text"
      [class.checkbox__helper-text--error]="!!errorMessage"
      [attr.id]="(id || name) + '-helper'"
    >
      <ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ errorMessage || helperText }}
    </ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></div>
  }
</div>
