@use '@nebular/theme/styles/theming' as *;

// Card variants
.nb-card-bordered {
  border: 1px solid nb-theme(border-basic-color-3);
}

.nb-card-shadowed {
  box-shadow: nb-theme(shadow);
}

// Info panel styles
.nb-info-panel {
  &__title-container {
    flex: 1;
  }

  &__title {
    margin: 0;
    font-size: nb-theme(text-heading-6-font-size);
    font-weight: nb-theme(text-heading-6-font-weight);
    color: nb-theme(text-basic-color);
  }

  &__subtitle {
    margin: 4px 0 0;
    font-size: nb-theme(text-caption-font-size);
    color: nb-theme(text-hint-color);
  }

  &__items {
    padding: 0;
  }

  // Panel Item
  &__item {
    display: flex;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-label {
    flex: 1;
    display: flex;
    align-items: center;
    color: nb-theme(text-hint-color);
    font-size: nb-theme(text-caption-font-size);

    nb-icon {
      margin-right: 8px;
    }
  }

  &__item-value {
    flex: 1;
    text-align: right;
    font-weight: nb-theme(text-subtitle-font-weight);
    color: nb-theme(text-basic-color);
    font-size: nb-theme(text-caption-font-size);
  }

  // Progress Value
  &__progress {
    width: 100px;
    display: inline-block;
  }

  // Boolean Value
  &__boolean {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
