<div class="layout">
  <div class="layout-column">
    <div class="auth-layout-container">
      <div class="auth-branding">
        <img src="assets/images/logo.png" alt="DateNight.io" i18n-alt class="logo" />
        <h1 class="app-name"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>DateNight.io</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></h1>
        <p class="tagline"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>Plan your perfect evening together</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></p>
      </div>
      <div class="auth-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
