<div class="notification-container" [@notificationAnimation]>
  <div class="notification" [ngClass]="statusClass">
    <i [class]="getIconClass(icon)"></i>
    <span class="notification-message"><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n><ng-container i18n>{{ message }}</ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></ng-container></span>
    <p-button label="" icon="pi pi-times" i18n-icon></p-button>
  </div>
</div>
