<!-- Toggle Component -->
<!-- Using Nebular components -->

<div
  class="nb-toggle-container"
  [ngClass]="{
    'nb-toggle-container--label-left': labelPosition === 'left',
    'nb-toggle-container--label-right': labelPosition === 'right',
    'nb-toggle-container--disabled': disabled,
  }"
>
  <!-- Label (Left Position) -->
  <label *ngIf="label && labelPosition === 'left'" [for]="name" class="nb-toggle__label">
    {{ label }}
    <span *ngIf="required" class="nb-toggle__required">*</span>
  </label>

  <!-- Nebular Toggle Switch -->
  <p-inputSwitch
    [name]="name"
    [checked]="value"
    [disabled]="disabled"
    [required]="required"
    [status]="color"
    [attr.aria-label]="ariaLabel || label"
    (checkedChange)="toggle($event)"
   ></p-inputSwitch>

  <!-- Label (Right Position) -->
  <label *ngIf="label && labelPosition === 'right'" [for]="name" class="nb-toggle__label">
    {{ label }}
    <span *ngIf="required" class="nb-toggle__required">*</span>
  </label>
</div>
