@use '@nebular/theme/styles/theming' as *;

.nb-toggle-container {
  display: flex;
  align-items: center;

  // Label Positions
  &--label-left {
    flex-direction: row;

    .nb-toggle__label {
      margin-right: 12px;
    }
  }

  &--label-right {
    flex-direction: row;

    .nb-toggle__label {
      margin-left: 12px;
    }
  }

  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

// Toggle Label
.nb-toggle__label {
  font-size: nb-theme(text-button-small-font-size);
  color: nb-theme(text-basic-color);
  cursor: pointer;

  .nb-toggle-container--disabled & {
    cursor: not-allowed;
  }
}

// Required Indicator
.nb-toggle__required {
  color: nb-theme(color-danger-500);
  margin-left: 2px;
}
